[submodule "external/cpr"]
	path = dependencies/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "external/json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json
[submodule "dependencies/filesystem"]
	path = dependencies/filesystem
	url = https://github.com/gulrak/filesystem.git
